h2 {
  margin-bottom: 1rem;
}

#change-theme-button {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 7rem;
  margin: 0.25rem;
  font-size: 0.85rem;
  padding: 0.25rem;
  height: 1.5rem;
}

#divMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}