header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-left: 17rem;
	padding-right: 17rem;

	font-size: 15px;
	color: #393536;
	@media (max-width: 70rem) {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		// width: 650px;

		#home {
			background-color: #ccd8e1;
		}

		.nav {
      padding-left: 1rem;
      padding-right: 1rem;
			padding-top: 1.4rem;
			padding-bottom: 1.4rem;
			&:hover {
				cursor: pointer;
				background-color: #ccd8e1;
			}
		}
	}

	button {
		
		background-color: #c2195b;
		padding: 5.75px 13.5px;
		width: 137px;
		height: 43px;
		color: white;
		font-size: 1rem;
		border: none;
		border-radius: 20px;
		font-weight: 600;
	}
}
