.hero-body {
  background-color: #002540;
  margin-top: 0.3rem;

  color: white;
  text-align: center;
  width: 100%;

  .container {
    width: 60%;
    padding: 2.7rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.2rem;
    
  }

  a {
    color: #6DCCDE;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    margin: 0;
    font-size: 24px;
    font-family: serif;
    margin-bottom: 1rem;
  }

  p {
    font-size: 15px;
    margin: 0;
  }
}