.container {
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	// background-color: white;
	width: 25rem;
	margin: 8rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem 2rem 3rem 2rem;
	border-radius: 5px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-bottom: 5rem;
	

	form {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.text-input {
		position: relative;
		width: 100%;
		margin-bottom: -0.75rem;
		padding-top: 1rem;
		&:hover {
			cursor: text;
		}

		input,
		select {
			font-size: 1rem;
			width: 18.4rem;
			/* border-radius: 5px; */
			height: 2.7em;
			outline: none;
			border-top: none;
			border-left: none;
			border-right: none;
			border-radius: 5px;
			background-color: #fff;
			box-shadow: inset 0 5px 6px rgba(0, 0, 0, 0.5);
			padding-left: 6.5rem;

			&::-ms-reveal,
			&::-ms-clear {
				display: none;
			}

			&:valid + .placeholder,
			&:focus + .placeholder {
				top: 1.25rem;
				left: 0.75rem;
				font-size: 0.9rem;
				color: rgba(0, 0, 0, 0.7);
			}
		}

		select {
			width: 100%;
			padding-left: 6.4rem;
		}

		.placeholder {
			font-size: 0.9rem;
			position: absolute;
			left: 0.75rem;
			top: 1.85rem;
			color: rgba(0, 0, 0, 0.8);
			transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
			cursor: text;
		}
	}

	button {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		height: 2.75rem;
		width: 100%;
		color: white;
		margin-right: auto;
		margin-left: auto;
		margin-top: 1rem;
		font-size: 1.2rem;
		background-color: #06f;
		border: 1px solid #06f;
		border-radius: 0.2rem;
		&:hover {
			font-size: 1.2rem;
			cursor: pointer;
			background-color: transparent;
		}
	}

	#submit {
		width: 100%;
		color: #06f;
		background-color: white;
		border-radius: 0 0 5px 5px;
		position: absolute;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		bottom: 0;
		text-align: center;
		font-weight: 500;
	}
}
