/* * {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  background-color: #383838;
  background-color: rgba(38, 38, 38, 0.3);
} */

/* * {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  background-color: #383838;
} */

body {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  background-color: #383838;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 28rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  padding-bottom: 2rem;
  
  padding-top:1rem;
  margin-top: 7rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px gray;
  background-color: rgba(0, 0, 0, 0.5);
}

nav ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav li {
  margin: 1rem;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #4398ff;
}

header h1, p {
  text-align: center;
}
